<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/interface/static/css/style.css">
        <link rel="stylesheet" href="/interface/static/css/animation.css">
        <title>THE GREEDY MAN</title>

        <script src="../static/js/FileUpload.js"></script>
    </head>
    <body class="bg">
        
        <div id="main" class="center glow">
            <div class="container center">
                <span class="title">HELLO NEW WORLD</span>
                <span class="subtext">THE Greedy Man</span>
            </div>
            
            <form id="drop-area" class="glow" class="my-form" methods="post" action-"" enctype="multipart/form-data">
                <div class="box__input">
                    <input class="box-file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple/>
                    <label for="file">Select Files<span class="box-dragndrop"> or drag it here</span></label>
                </div>
                <button class="button1" type="submit">START</button>
            </form>
        </div>
    </body>
</html>
