<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/interface/static/css/style.css">
        <link rel="stylesheet" href="/interface/static/css/animation.css">
        <script src="../static/js/GameLogic.js"></script>
    </head>
    <body class="bg">
        <div id="main" class="center glow">
            <div class="container center">
                <span id="board" class="title text"></span>
                <span id="round-counter" class="subtext"></span>
            </div>
            <div class="user-container">
                <div id="transparent-textbox" contenteditable></div>
                <button id="start-button" class="button1" type="">ENTER</button>
                <button id="next-button" class="button1" type="">NEXT</button>
            </div>
        </div>
    </body>
</html>
